{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks  %}
{% block body_block %}
    <div class="container">
        <h2>Registrasi Form</h2>
        <ul class="nav nav-tabs">
            <li><a href="{% url 'utama:pengunjung_registrasi' %}">Pengunjung</a></li>
            <li><a href="{% url 'utama:dokter_registrasi' %}">Dokter</a></li>
            <li><a href="{% url 'utama:rumah_sakit_registrasi' %}">Rumah Sakit</a></li>
            <li class="active"><a href="{% url 'utama:asuransi_registrasi' %}">Asuransi</a></li>
        </ul>
        <h3> Register Asuransi</h3>
        <hr/>
        <form enctype="multipart/form-data" action="{% url 'utama:asuransi_registrasi' %}" method="post" role="form">
            {% csrf_token %}
{#            {{ user_form.as_p }}#}
{#            {{ asuransi_form.as_p }}#}
            {% for field in user_form %}
                <div class="form-group">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            {% for field in asuransi_form %}
                <div class="form-group">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Register</button>
        </form>
        <br/>
    </div>
{% endblock %}