{% extends 'base.html' %}
{#{% load crispy_forms_tags %}#}
{% load widget_tweaks  %}
{% block body_block %}
    <div class="container">
        <h2>Registrasi Form</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'utama:pengunjung_registrasi' %}">Pengunjung</a></li>
            <li><a href="{% url 'utama:dokter_registrasi' %}">Dokter</a></li>
            <li><a href="{% url 'utama:rumah_sakit_registrasi' %}">Rumah Sakit</a></li>
            <li><a href="{% url 'utama:asuransi_registrasi' %}">Asuransi</a></li>
        </ul>

        <h3> Register Pengunjung</h3>
        <hr/>
        <form enctype="multipart/form-data" action="{% url 'utama:pengunjung_registrasi' %}" method="post" role="form">
            {% csrf_token %}

            {% for field in user_form %}
                <div class="form-group">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            {% for field in form.visible_fields %}
            <div id="div_{{ field.html_name }}"
                 class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field | add_class:'form-control'}}
                <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <button type="submit" class="btn btn-default">Register</button>

        </form>
        <br/>
    </div>
{% endblock %}