{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks  %}
{% block body_block %}
<div class='{% if center_text %}text-center{% endif %}'>
<form method='POST' action='{% url "diagnosis_penyakit:save_review_user"%}' enctype="multipart/form-data" role="form"> {% csrf_token %}
    {{ form.errors }}
    <div class="container" style="margin-bottom:7rem; background-color:lightcyan; color:black;"><center><h1>Review Diagnosis Penyakit</h1></center><br/><br/>
        <h4 style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </h4><br/><br/>
        <div class="row">
            <div class="col-md-3">
                {% for penyakit in penyakit1 %}
                    <input type="checkbox" name="{{penyakit.id}}" value="{{penyakit.id}}"> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for penyakit in penyakit2 %}
                    <input type="checkbox" name="{{penyakit.id}}" value="{{penyakit.id}}"> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for penyakit in penyakit3 %}
                    <input type="checkbox" name="{{penyakit.id}}" value={{penyakit.id}}> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for penyakit in penyakit4 %}
                    <input type="checkbox" name="{{penyakit.id}}" value="{{penyakit.id}}"> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
        </div>
        <br/>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}
            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            </div>
            <div class="col-md-2"></div>
         </div>
        <center>
            <input type='submit' value='Save and continue' class="btn btn-success" style="margin:3rem;"/>
        </center>
    </div>
</form>
{% endblock %}
</div>