{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load widget_tweaks %}
<style>
    #myDIV1 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV2 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV3 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV4 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV5 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV6 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV7 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV8 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV9 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV10 {
        width: 100%;
        margin-top: 10px;
    }
</style>
    <div class="container" style="margin-bottom:7rem; background-color:lightcyan; color:black;">
        <center><h2>Riwayat Diagnosis Penyakit</h2></center><br/>
        {% if hasil_diagnosis.0 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.0%}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.0 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.0 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction1()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV1" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.0 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.1 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.1 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.1 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.1 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction2()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV2" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.1 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.2 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.2 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.2 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.2 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction3()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV3" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.2 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.3 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.3 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.3 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.3 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction4()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV4" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.3 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.4 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.4%}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.4 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.4 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction5()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV5" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.4 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.5 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.5 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.5 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.5 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction6()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV6" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.5 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.6 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.6 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.6 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.6 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction7()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV7" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.6 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.7 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.7 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.7 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.7 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction8()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV8" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.7%}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.8 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.8 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.8 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.8 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction9()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV9" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.8 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    {% if hasil_diagnosis.9 %}
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer.9 %}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.9 }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal review.9 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction10()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
                    </div>
            </div><br/>

        <div id="myDIV10" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in list_diagnosis1.9 %}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
    {% endif %}
    </div>
<script>
    function myFunction1() {
    var x = document.getElementById("myDIV1");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction2() {
    var x = document.getElementById("myDIV2");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction3() {
    var x = document.getElementById("myDIV3");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction4() {
    var x = document.getElementById("myDIV4");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction5() {
    var x = document.getElementById("myDIV5");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction6() {
    var x = document.getElementById("myDIV6");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction7() {
    var x = document.getElementById("myDIV7");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction8() {
    var x = document.getElementById("myDIV8");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction9() {
    var x = document.getElementById("myDIV9");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction10() {
    var x = document.getElementById("myDIV10");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}