{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks  %}
{% block body_block %}
<div class='{% if center_text %}text-center{% endif %}'>
<style>
     #myDIV01 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV1 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV2 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV3 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV4 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV5 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV6 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV7 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV8 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV9 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV10 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV11 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV12 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV13 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV14 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV15 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV16 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV17 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV18 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV19 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV20 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV21 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV22 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV23 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV24 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV25 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV26 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV27 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV28 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV29 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV30 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV31 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV32 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV33 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV34 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV35 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV36 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV37 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV38 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV39 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV40 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV41 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV42 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV43 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV44 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV45 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV46 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV47 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV48 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV49 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV50 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV51 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV52 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV53 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV54 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV55 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV56 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV57 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV58 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV59 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV60 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV61 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV62 {
        width: 100%;
        margin-top: 10px;
    }
    #myDIV63 {
        width: 100%;
        margin-top: 10px;
    }
</style>

<center><h1>Diagnosis Penyakit</h1></center><br/>

<form method="GET" action="{% url 'diagnosis_penyakit:search' %}">
    <center><p>Cari Gejala : </p></center>
    <center><input type="text" name="q" value="{{ request.GET.q }}" id="data" class="form-control" placeholder="Cari gejala disini" style="width: 500px;"></center>
{#    <input type='submit' value='Serach' class="btn btn-success" style="margin:3rem; margin-left: 900px"/>#}
    <center><button class="btn btn-success" type="submit" style="margin: 3rem;">
            Search
    </button></center>
</form>

{#<form method='POST' action='{% url "diagnosis_penyakit:response"%}' enctype="multipart/form-data"> {% csrf_token %}#}
{#    <div class="row" style="margin-left:10rem;">#}
{#        <div class="col-md-3">#}
{#            {{ form.gejala_id0 }}#}
{#        </div>#}
{#    </div>#}

</form>

    <form method='POST' action='{% url "diagnosis_penyakit:response"%}' enctype="multipart/form-data"> {% csrf_token %}
        <p style="margin-left: 15px;">Hasil Pencarian :</p>
            {{ form.gejala_id0 }}
        <center><input type='submit' value='Save and continue' class="btn btn-success" style="margin:3rem;"/></center>
    </form>


<form method='POST' action='{% url "diagnosis_penyakit:response"%}' enctype="multipart/form-data"> {% csrf_token %}
    {{ form.errors }}

    <div class="row" style="margin-left:10rem;">
        <div class="col-md-3">
            <a onclick="myFunction1()" style="font-size:2rem; color:black;">Tubuh <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV1" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id1 }}
            </div>

            <a onclick="myFunction2()" style="font-size:2rem; color:black;">Kepala <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV2" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id2 }}
            </div>

            <a onclick="myFunction3()" style="font-size:2rem; color:black;">Rambut <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV3" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id3 }}
            </div>

            <a onclick="myFunction4()" style="font-size:2rem; color:black;">Wajah <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV4" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id4 }}
            </div>

            <a onclick="myFunction5()" style="font-size:2rem; color:black;">Bahu <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV5" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id5 }}
            </div>

            <a onclick="myFunction6()" style="font-size:2rem; color:black;">Dada <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV6" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id6 }}
            </div>

            <a onclick="myFunction7()" style="font-size:2rem; color:black;">Payudara <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV7" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id7 }}
            </div>

            <a onclick="myFunction8()" style="font-size:2rem; color:black;">Perut <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV8" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id8 }}
            </div>

            <a onclick="myFunction9()" style="font-size:2rem; color:black;">Punggung <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV9" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id9 }}
            </div>

            <a onclick="myFunction10()" style="font-size:2rem; color:black;">Pinggul <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV10" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id10 }}
            </div>

            <a onclick="myFunction11()" style="font-size:2rem; color:black;">Pinggang <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV11" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id11 }}
            </div>
            <a onclick="myFunction12()" style="font-size:2rem; color:black;">Paha <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV12" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id12 }}
            </div>

            <a onclick="myFunction13()" style="font-size:2rem; color:black;">Kelenjar getah bening (limfotik) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV13" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id13 }}
            </div>

            <a onclick="myFunction14()" style="font-size:2rem; color:black;">Jari-jari <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV14" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id14 }}
            </div>

            <a onclick="myFunction15()" style="font-size:2rem; color:black;">Bibir <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV15" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id15 }}
            </div>

            <a onclick="myFunction16()" style="font-size:2rem; color:black;">Gusi <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV16" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id16 }}
            </div>
        </div>
        <div class="col-md-3">
            <a onclick="myFunction17()" style="font-size:2rem; color:black;">Rektum <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV17" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id17 }}
            </div>

            <a onclick="myFunction18()" style="font-size:2rem; color:black;">Tulang <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV18" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id18 }}
            </div>

            <a onclick="myFunction19()" style="font-size:2rem; color:black;">Otot <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV19" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id19 }}
            </div>

            <a onclick="myFunction20()" style="font-size:2rem; color:black;">Sendi <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV20" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id20 }}
            </div>

            <a onclick="myFunction21()" style="font-size:2rem; color:black;">Tangan <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV21" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id21 }}
            </div>
            <a onclick="myFunction22()" style="font-size:2rem; color:black;">Kaki <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV22" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id22 }}
            </div>

            <a onclick="myFunction23()" style="font-size:2rem; color:black;">Leher <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV23" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id23 }}
            </div>

            <a onclick="myFunction24()" style="font-size:2rem; color:black;">Jantung <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV24" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id24 }}
            </div>

            <a onclick="myFunction25()" style="font-size:2rem; color:black;">Pembuluh darah <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV25" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id25 }}
            </div>

            <a onclick="myFunction26()" style="font-size:2rem; color:black;">Darah <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV26" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id26 }}
            </div>

            <a onclick="myFunction27()" style="font-size:2rem; color:black;">Mulut <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV27" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id27 }}
            </div>

            <a onclick="myFunction28()" style="font-size:2rem; color:black;">Gigi <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV28" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id28 }}
            </div>

            <a onclick="myFunction29()" style="font-size:2rem; color:black;">Lidah <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV29" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id29 }}
            </div>

            <a onclick="myFunction30()" style="font-size:2rem; color:black;">Kelenjar ludah <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV30" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id30 }}
            </div>

            <a onclick="myFunction31()" style="font-size:2rem; color:black;">Kerongkongan <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV31" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id31 }}
            </div>

            <a onclick="myFunction32()" style="font-size:2rem; color:black;">Lambung <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV32" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id32 }}
            </div>
        </div>

        <div class="col-md-3">
            <a onclick="myFunction33()" style="font-size:2rem; color:black;">Usus (besar atau kecil) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV33" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id33 }}
            </div>

            <a onclick="myFunction34()" style="font-size:2rem; color:black;">Anus <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV34" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id34 }}
            </div>

            <a onclick="myFunction35()" style="font-size:2rem; color:black;">Saluran empedu <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV35" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id35 }}
            </div>

            <a onclick="myFunction36()" style="font-size:2rem; color:black;">Hidung <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV36" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id36 }}
            </div>

            <a onclick="myFunction37()" style="font-size:2rem; color:black;">Trakea (batang tenggorokan) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV37" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id37 }}
            </div>

            <a onclick="myFunction38()" style="font-size:2rem; color:black;">Bronkus (cabang batang tenggorokan) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV38" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id38 }}
            </div>

            <a onclick="myFunction39()" style="font-size:2rem; color:black;">Paru-paru (pulmo) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV39" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id39 }}
            </div>

            <a onclick="myFunction40()" style="font-size:2rem; color:black;">Hati (hepar) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV40" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id40 }}
            </div>

            <a onclick="myFunction41()" style="font-size:2rem; color:black;">Kulit (intergumen) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV41" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id41 }}
            </div>

            <a onclick="myFunction42()" style="font-size:2rem; color:black;">Ginjal <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV42" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id42 }}
            </div>

            <a onclick="myFunction43()" style="font-size:2rem; color:black;">Kandung kemih <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV43" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id43 }}
            </div>
            <a onclick="myFunction44()" style="font-size:2rem; color:black;">Otak <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV44" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id44 }}
            </div>

            <a onclick="myFunction45()" style="font-size:2rem; color:black;">Saraf <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV45" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id45 }}
            </div>

            <a onclick="myFunction46()" style="font-size:2rem; color:black;">Hormon <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV46" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id46 }}
            </div>

            <a onclick="myFunction47()" style="font-size:2rem; color:black;">Mata <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV47" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id47 }}
            </div>

            <a onclick="myFunction48()" style="font-size:2rem; color:black;">Telinga <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV48" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id48 }}
            </div>


        </div>
        <div class="col-md-3">
            <a onclick="myFunction49()" style="font-size:2rem; color:black;">Testis <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV49" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id49 }}
            </div>

            <a onclick="myFunction50()" style="font-size:2rem; color:black;">Penis <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV50" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id50 }}
            </div>

            <a onclick="myFunction51()" style="font-size:2rem; color:black;">Uretra <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV51" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id51 }}
            </div>

            <a onclick="myFunction52()" style="font-size:2rem; color:black;">Skrotum (buah zakar) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV52" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id52 }}
            </div>

            <a onclick="myFunction53()" style="font-size:2rem; color:black;">Ovarium (indung telur) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV53" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id53 }}
            </div>

            <a onclick="myFunction54()" style="font-size:2rem; color:black;">Klitoris <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV54" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id54 }}
            </div>

            <a onclick="myFunction55()" style="font-size:2rem; color:black;">Saluran tuba fallopi <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV55" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id55 }}
            </div>

            <a onclick="myFunction56()" style="font-size:2rem; color:black;">Uterus (rahim) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV56" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id56 }}
            </div>

            <a onclick="myFunction57()" style="font-size:2rem; color:black;">Vagina (liang peranakan) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV57" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id57 }}
            </div>

            <a onclick="myFunction58()" style="font-size:2rem; color:black;">Medula spinalis (meningens) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV58" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id58 }}
            </div>

            <a onclick="myFunction59()" style="font-size:2rem; color:black;">Sel darah putih (limfosit) <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV59" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id59 }}
            </div>
            <a onclick="myFunction60()" style="font-size:2rem; color:black;">Kelenjar air mata <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV60" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id60 }}
            </div>

            <a onclick="myFunction61()" style="font-size:2rem; color:black;">Kelenjar keringat <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV61" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id61 }}
            </div>

            <a onclick="myFunction62()" style="font-size:2rem; color:black;">Kelenjar air ludah <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV62" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id62 }}
            </div>

            <a onclick="myFunction63()" style="font-size:2rem; color:black;">Tengkuk <i class="fas fa-angle-down"></i></a><br/>
            <div id="myDIV63" style="display:none; margin-left:-3rem;">
                {{ form.gejala_id63 }}
            </div>
        </div>
        </div>
        <center>
            <input type='submit' value='Save and continue' class="btn btn-success" style="margin:3rem;"/>
        </center>
    </form>
    {% if diagnosis %}
    <div class="container" style="margin-bottom:7rem; background-color:lightcyan; color:black;">
        <center><h2>Riwayat Diagnosis Penyakit</h2></center><br/>
            <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            <li> &nbsp {{ gejala.gejala_answer }}</li>
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style=" padding-bottom:2rem;">
                        <div class="col-md-12" style="background-color:LightGray;">
                        <br/>
                        <center>
                            <p style="color:green; font-size:1.85rem;"><b>Penyakit {{ hasil_diagnosis.penyakit }}</b></p><br/>
                         </center>
                           <p>
                            {% ifequal num 1 %}
                            Anda telah melakukan review.
                            {% else %}
                            Bantu kami untuk meningkatkan akurasi
                            diagnosis ini dengan melakukan review
                            bila anda telah menemui dokter,
                            <a onclick="myFunction01()" style="font-size:1.8rem;">Klik disini</a>
                            {% endifequal %}
                            </p>
                        </div><br/>
                        </div>
{#                         <div style="float:right; margin-top:3rem;">#}
{#                            <a href="{% url 'diagnosis_penyakit:all_diagnosis_user' %}" class="btn btn-success">Lihat Selengkapnya >></a>#}
{#                         </div>#}
                    </div>
            </div><br/>

        <div id="myDIV01" style="display:none; margin-bottom:3rem; margin-left:-1.5rem;">
            <center><h2>Review Penyakit</h2></center><br/>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:LightGray;">
            <p style="color:green; margin:2.5rem; margin-bottom:1rem;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <form enctype="multipart/form-data" action="{% url 'diagnosis_penyakit:save_review_user' %}" method="post" role="form">
            {% for penyakit in diagnosis%}
                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
            {% endfor %}<br/>
            Penyakit lain,  <a href="{% url 'diagnosis_penyakit:all_penyakit'%}">Klik disini</a>
            <br/><br/><br/>
            <p style="font-size:1.9rem;">Masukkan data Dokter : </p><br/>
            {% csrf_token %}
            {#{{ form_review.as_p }}#}

            {% for field in form_review %}
                <div class="form-group">
                     <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Simpan</button>
            </form>
            </div>
            <div class="col-md-1"></div>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
        </div>
    {% endif %}

<script>
function myFunction01() {
    var x = document.getElementById("myDIV01");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction1() {
    var x = document.getElementById("myDIV1");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction2() {
    var x = document.getElementById("myDIV2");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction3() {
    var x = document.getElementById("myDIV3");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction4() {
    var x = document.getElementById("myDIV4");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction5() {
    var x = document.getElementById("myDIV5");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction6() {
    var x = document.getElementById("myDIV6");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction7() {
    var x = document.getElementById("myDIV7");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction8() {
    var x = document.getElementById("myDIV8");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction9() {
    var x = document.getElementById("myDIV9");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction10() {
    var x = document.getElementById("myDIV10");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction11() {
    var x = document.getElementById("myDIV11");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction12() {
    var x = document.getElementById("myDIV12");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction13() {
    var x = document.getElementById("myDIV13");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction14() {
    var x = document.getElementById("myDIV14");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction15() {
    var x = document.getElementById("myDIV15");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction16() {
    var x = document.getElementById("myDIV16");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction17() {
    var x = document.getElementById("myDIV17");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction18() {
    var x = document.getElementById("myDIV18");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction19() {
    var x = document.getElementById("myDIV19");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction20() {
    var x = document.getElementById("myDIV20");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction21() {
    var x = document.getElementById("myDIV21");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction22() {
    var x = document.getElementById("myDIV22");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction23() {
    var x = document.getElementById("myDIV23");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction24() {
    var x = document.getElementById("myDIV24");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction25() {
    var x = document.getElementById("myDIV25");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction26() {
    var x = document.getElementById("myDIV26");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction27() {
    var x = document.getElementById("myDIV27");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction28() {
    var x = document.getElementById("myDIV28");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction29() {
    var x = document.getElementById("myDIV29");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction30() {
    var x = document.getElementById("myDIV30");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction31() {
    var x = document.getElementById("myDIV31");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction32() {
    var x = document.getElementById("myDIV32");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction33() {
    var x = document.getElementById("myDIV33");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction34() {
    var x = document.getElementById("myDIV34");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction35() {
    var x = document.getElementById("myDIV35");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction36() {
    var x = document.getElementById("myDIV36");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction37() {
    var x = document.getElementById("myDIV37");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction38() {
    var x = document.getElementById("myDIV38");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction39() {
    var x = document.getElementById("myDIV39");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction40() {
    var x = document.getElementById("myDIV40");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction41() {
    var x = document.getElementById("myDIV41");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction42() {
    var x = document.getElementById("myDIV42");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction43() {
    var x = document.getElementById("myDIV43");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction44() {
    var x = document.getElementById("myDIV44");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction45() {
    var x = document.getElementById("myDIV45");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction46() {
    var x = document.getElementById("myDIV46");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction47() {
    var x = document.getElementById("myDIV47");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction48() {
    var x = document.getElementById("myDIV48");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction49() {
    var x = document.getElementById("myDIV49");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction50() {
    var x = document.getElementById("myDIV50");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction51() {
    var x = document.getElementById("myDIV51");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction52() {
    var x = document.getElementById("myDIV52");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction53() {
    var x = document.getElementById("myDIV53");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction54() {
    var x = document.getElementById("myDIV54");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction55() {
    var x = document.getElementById("myDIV55");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction56() {
    var x = document.getElementById("myDIV56");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction57() {
    var x = document.getElementById("myDIV57");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction58() {
    var x = document.getElementById("myDIV58");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction59() {
    var x = document.getElementById("myDIV59");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction60() {
    var x = document.getElementById("myDIV60");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction61() {
    var x = document.getElementById("myDIV61");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction62() {
    var x = document.getElementById("myDIV62");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction63() {
    var x = document.getElementById("myDIV63");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

{% endblock %}
</div>