{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class='{% if center_text %}text-center{% endif %}'>

<center><h1>Review Diagnosis Penyakit</h1></center><br/><br/>
    <div class="container" style="margin-bottom:7rem; background-color:lightcyan; color:black;">
        {% if fix_user.0 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.0.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.0 %}
                                {% ifequal  gejala.number_diagnosis fix_num.0 %}
                                    <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.0 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-1" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.0 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=0 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
            </div><br/><br/>
        {% endif %}
        {% if fix_user.1 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.1.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.1 %}
                                {% ifequal  gejala.number_diagnosis fix_num.1 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.1 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.1 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=1 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.2 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.2.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.2 %}
                                {% ifequal  gejala.number_diagnosis fix_num.2 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.2 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.2 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=2 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}

        {% if fix_user.3 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.3.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.3 %}
                                {% ifequal  gejala.number_diagnosis fix_num.3 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.3 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit}}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.3 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=3 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.4 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.4.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.4 %}
                                {% ifequal  gejala.number_diagnosis fix_num.4 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.4 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.4 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=4 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.5 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.5.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.5 %}
                                {% ifequal  gejala.number_diagnosis fix_num.5 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.5 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.5 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=5 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.6 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.6.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.6 %}
                                {% ifequal  gejala.number_diagnosis fix_num.6 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.6 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.6 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=6 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.7 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.7.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.7 %}
                                {% ifequal  gejala.number_diagnosis fix_num.7 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.7 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.7 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=7 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.8 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.8.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.8 %}
                                {% ifequal  gejala.number_diagnosis fix_num.8 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.8 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.8 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=8 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        {% if fix_user.9 %}
         <center><p style="font-size:3rem; color:black;">{{fix_penyakit.9.nama_penyakit}}</p><br/></center>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Gejala dari User</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <div style="margin-left:2rem;">
                        <ol type="1">
                        {%for gejala in user_answer%}
                            {%ifequal gejala.user_id fix_user.9 %}
                                {% ifequal  gejala.number_diagnosis fix_num.9 %}
                                <li> &nbsp {{ gejala.gejala_answer }}</li>
                                {%endifequal %}
                            {%endifequal %}
                        {% endfor %}
                        </ol>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:-2.7rem;">
                        <form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.errors }}
                        <p style="font-size:2.5rem; text-align:center; background-color:LightGray; margin-bottom:-1.7rem;">Hasil Diagnosis Penyakit</p><br/>
                        <div style="background-color:LightGray; padding-bottom:2rem; padding-top:2rem">
                        <p style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;Pilih salah satu penyakit yang paling mungkin : </p>
                        <div class="col-md-10">
                        {% for penyakit in diagnosis.9 %}
                                <input type="checkbox" name="{{forloop.counter}}" value="{{penyakit.penyakit_id}}"> &nbsp;{{ penyakit.penyakit }}<br/>
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.user_id}}">
                                <input type="hidden" name="{{forloop.counter}}" value="{{penyakit.number_diagnosis}}">
                        {% endfor %} <br/>
                        </div>
                        <div class="col-md-2" style="font-size:1.6rem;">
                        {% for penyakit in diagnosis.9 %}
                                   {{ penyakit.total_point}}%<br/>
                        {% endfor %} <br/>
                        </div><br/>
                            <p style="float:left; margin-left:1.5rem;">Penyakit lain,  <a href="{% url 'diagnosis_penyakit:tambah_penyakit' id=9 %}">Klik disini</a></p>
                             <input type='submit' value='Simpan' class="btn btn-success" style="margin-top:4rem; margin-left:-1.5rem"/>
                        </div>
                        </form>
                    </div>
                </div><br/><br/>
        {% endif %}
        </div>
{% endblock %}
</div>