{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <div class="container">
    <table border="0" class="table table-responsive">
        <tr>
            <th>Penyakit</th>
            <th>Persentasi Kemungkinan</th>
        </tr>

        <tr>
            {% for penyakit in diagnosis %}
            <tr>
            <td><a href="{% url 'diagnosis_penyakit:detail_penyakit' id=penyakit.penyakit_id %}">{{penyakit.penyakit}}</a></td>
            <td><a href="{% url 'diagnosis_penyakit:detail_penyakit' id=penyakit.penyakit_id %}">{{penyakit.total_point}}%</a></td>
            </tr>
            {% endfor %}
        </tr>
    </table>
    </div>
{% endblock %}
