{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <div class="container">
    <center><h1> Detail Penyakit {{penyakit.nama_penyakit}}</h1></center>
    <br/><br/>
    <h3>Definisi</h3>
    <p>{{penyakit.definisi}}</p><br/>
    <h3>Penyebab</h3>
    {% for penyebab in penyebab %}
    <p>{{penyebab}}</p><br/>
    {% endfor %}

    <h3>Gejala</h3>
    {% for gejala in gejala %}
    <p>{{gejala}}</p><br/>
    {% endfor %}

    <h3>Diagnosis</h3>
    {% for diagnosis in diagnosis %}
    <p>{{diagnosis}}</p><br/>
    {% endfor %}

    <h3>Pencegahan</h3>
    {% for pencegahan in pencegahan %}
    <p>{{pencegahan}}</p><br/>
    {% endfor %}

    <h3>Pengobatan</h3>
    {% for pengobatan in pengobatan %}
    <p>{{pengobatan}}</p><br/>
    {% endfor %}
    </div>
{% endblock %}