{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class='{% if center_text %}text-center{% endif %}'>
<form method='POST' action='{% url "diagnosis_penyakit:save_review_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
    {{ form.errors }}
    <div class="container" style="margin-bottom:7rem; background-color:lightcyan; color:black;"><center><h1>Review Diagnosis Penyakit</h1></center><br/><br/>

        <div class="row">
            <div class="col-md-3">
                {% for penyakit in penyakit1 %}
                    <input type="checkbox" name="{{penyakit.id}}" value="{{penyakit.id}}"> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for penyakit in penyakit2 %}
                    <input type="checkbox" name="{{penyakit.id}}" value="{{penyakit.id}}"> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for penyakit in penyakit3 %}
                    <input type="checkbox" name="{{penyakit.id}}" value={{penyakit.id}}> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for penyakit in penyakit4 %}
                    <input type="checkbox" name="{{penyakit.id}}" value="{{penyakit.id}}"> &nbsp;{{ penyakit.nama_penyakit }}<br/>
                    <input type="hidden" name="{{penyakit.id}}" value="{{user_id}}">
                    <input type="hidden" name="{{penyakit.id}}" value="{{number_diagnosis}}">
                {% endfor %}
            </div>
        </div>
        <center>
            <input type='submit' value='Save and continue' class="btn btn-success" style="margin:3rem;"/>
        </center>
    </div>
</form>
{% endblock %}
</div>