{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class='{% if center_text %}text-center{% endif %}'>
{% if penyakit %}
<form method='POST' action='{% url "diagnosis_penyakit:save_review_gejala"%}' enctype="multipart/form-data"> {% csrf_token %}
{% else %}
<form method='POST' action='{% url "diagnosis_penyakit:save_penyakit"%}' enctype="multipart/form-data"> {% csrf_token %}
{% endif %}
    {{ form.errors }}
    <div class="row" style="margin-left: 20rem;">
        <div class="col-md-8" style="background-color:LightGray;">
            <div style="margin-left:10rem; margin-top:4rem; margin-bottom: 2rem;">
            <label>Penyakit</label><br/>
            {% if penyakit %}
                <input type="text" name="penyakit" placeholder="penyakit" style="width: 52rem;" value="{{penyakit.nama_penyakit}}" readonly><br/><br/>
            {% else %}
                <input type="text" name="penyakit" placeholder="penyakit" style="width: 52rem;"><br/><br/>
            {% endif %}
            <label>Deskripsi Penyakit</label><br/>
            {% if penyakit %}
                <textarea placeholder="deskripsi penyakit" name="deskripsi" style="width: 52rem;" readonly>{{penyakit.definisi}}</textarea><br/><br/>
            {% else %}
                <textarea placeholder="deskripsi penyakit" name="deskripsi" style="width: 52rem;"></textarea><br/><br/>
            {% endif %}
            <label>Gejala</label> <label style="float:right; margin-right:17rem;">Poin</label><br/>
            {% if penyakit %}
                {% for gejala in gejala_penyakit%}
                    <input type="text" name="gejala" style="width:40rem;" value="{{gejala.gejala}}"> &nbsp;&nbsp;&nbsp;<input type="text" name="poin" placeholder="Poin" style="width:10rem" value="{{gejala.poin}}"><br/>
                {% endfor %}
            {% else %}
                {%for gejala in user_answer%}
                    {%ifequal gejala.user_id fix_user %}
                        {% ifequal  gejala.number_diagnosis fix_num %}
                            <input type="text" name="gejala" style="width:40rem;" value="{{gejala.gejala_answer}}"> &nbsp;&nbsp;&nbsp;<input type="text" name="poin" placeholder="Poin" style="width:10rem"><br/>
                        {%endifequal %}
                    {%endifequal %}

                {% endfor %}
            {% endif %}

            <div id="dynamicInput">
                <input type="hidden" style="width:40rem;"> &nbsp;&nbsp;&nbsp;<input type="hidden" style="width:10rem"><br/>
            </div><br/>
            <input type="button" value="Tambah Gejala" onClick="addInput('dynamicInput');" class="btn btn-default"><br/>
            </div>


            <center>
                <input class="btn btn-success" type='submit' value='Submit Review' style="margin:3rem;"/>
            </center>
        </div>
    </div><br/>

</form>

<script>
    function addInput(divName){
        var fileId = 0;
        fileId++;
        var newdiv = document.createElement('div');
        newdiv.innerHTML = '<input type="text" name="gejala" placeholder="Gejala" style="width:40rem;"> &nbsp; &nbsp;<input type="text" name="poin" placeholder="Poin" style="width:10rem;"><br/>';
        document.getElementById(divName).appendChild(newdiv);
    }

</script>

{% endblock %}
</div>